@import './base.css';

body {
  background: #0F0F0F !important;
}

#app {
  max-width: 1440px;
  padding: 0rem 0.5rem;
  font-weight: normal;
  width: 100%;
  margin: 10auto;
}

a:hover {
  cursor: pointer;
}

a,
.green {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(240, 1%, 31%, 0.2);
  }
}

@media sreen and (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
